.footer-container {
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer-container>div {
    margin-bottom: 10px;
}

.footer-logo img {
    width: 100px;
}

.footer-social-media-container a {
    padding: 10px;
}

.footer-social-media-container svg {
    /* width: 20px; */
}

.footer-links-list {
    list-style: none;
    display: flex;
    font-size: .75em;
    color: rgb(255 255 255 / 60%);
    flex-wrap: wrap;
    color: rgb(255 255 255 / 60%);
    justify-content: center;
}

.footer-links-list li::after {
    content: '\2022';
    width: 3px;
    height: 3px;
    color: #ffffff;
    margin: auto 10px;
}

.footer-links-list li:last-child::after {
    content: none;
}

.footer-links-list li a {
    text-decoration: none;
    color: rgb(255 255 255 / 60%);
}

@media(max-width: 769px) {
    .footer-container {
        margin-bottom: 100px;
    }
}