:root {
    --video-tile-short-height: 120px;
    --video-tile-width: 216px
}

.video-tile-container {
    margin: 40px 0px 120px 20px;
}

.video-tile-container:first-child {
    margin-left: 30px;
}

.video-tile-parent {
    width: var(--video-tile-width);
    /* background-image: ; */
    /* background: url(../../assets/images/video-tile-1.jpg) no-repeat; */
    background-size: 101% 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.video-tile-cube>.video-tile-parent {
    --video-tile-width: 120px;
    height: var(--video-tile-width);
    width: var(--video-tile-width);
    margin-right: 15px;
}

.video-tile-cube>.video-tile-parent:last-child {
    margin-right: 0px;
}

.video-tile-circle {
    margin-right: 15px;
}

.video-tile-circle>.video-tile-parent {
    --video-tile-width: 120px;
    height: var(--video-tile-width);
    width: var(--video-tile-width);
    border-radius: 100%;
}

.video-tile-circle .video-tile-action-container {
    justify-content: center;
}

.video-tile-short>.video-tile-parent {
    height: calc(var(--video-tile-width) / 1.8);
}

.video-tile-long>.video-tile-parent {
    height: calc(var(--video-tile-width) / 0.72);
}

.video-tile-short .video-tile-info {
    /* background: #32363900; */
    width: calc(1.8 * var(--video-tile-short-height));
}

.video-tile-extra-wide>.video-tile-parent {
    width: calc(var(--video-tile-width) * 2.5);
    height: calc(var(--video-tile-width) / 1.5);
}

.video-tile-action-container {
    display: flex;
    justify-content: space-between;
}

.video-tile-title {
    display: flex;
    align-items: baseline;
}

.video-tile-cube .video-tile-title {
    align-items: center;
}

.video-tile-cube .video-tile-title::before {
    content: '\2022';
    margin-right: 10px;
    color: var(--primary-background-color);
    font-size: 25px;
}

.video-tile-icon {
    width: 12px;
    cursor: pointer;
}

.video-tile-icon svg path {
    fill: #ffffff;
    fill-rule: evenodd;
    stroke-width: 10px;
    stroke: #fff;
}

.video-tile-age-rating {
    font-size: 8px;
    background: #0000007a;
    border-radius: 2px;
    margin-left: 3px;
    padding: 0 2px;
    display: none;
}

.video-tile-play-icon {
    margin-right: 10px;
}

.video-tile-icon-container {
    display: none;
}

.video-tile-wrapper {
    transition: transform .5s;
    font-size: 12px;
    z-index: 0;
}

.video-tile-container:hover .video-tile-wrapper.video-tile-short {
    transform: scale(1.30);
    z-index: 1;
    transition: transform .5s;
    margin-bottom: -74px;
}

.video-tile-container:first-child .video-tile-long>.video-tile-parent,
.video-tile-container:first-child .video-tile-wrapper {
    transform-origin: 0px center;
}

.video-tile-feature-list {
    list-style: none;
    display: none;
}

.video-tile-feature-list li {
    font-size: 8px;
    margin: 4px 0;
}

.video-tile-feature-list li::after {
    content: '\2022';
    margin: 0 5px;
}

.video-tile-feature-list li:last-child::after {
    content: ''
}

.video-tile-description {
    font-size: 8px;
    font-weight: 300;
    --max-lines: 3;
    --lh: 1.43em;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    display: none;
}

@media (min-width:769px) {
    .video-tile-container:hover .video-tile-wrapper.video-tile-short .video-tile-info {
        background: #323639;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
    }
    .video-tile-container:hover .video-tile-wrapper.video-tile-short .video-tile-parent {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
    }
    .video-tile-container:hover .video-tile-wrapper.video-tile-short .video-tile-age-rating,
    .video-tile-container:hover .video-tile-wrapper.video-tile-short .video-tile-description {
        display: block;
    }
    .video-tile-container:hover .video-tile-wrapper.video-tile-short .video-tile-icon-container,
    .video-tile-container:hover .video-tile-wrapper.video-tile-short .video-tile-feature-list {
        display: flex;
    }
}

.video-tile-new-label {
    display: none;
}

.video-tile-long .video-tile-parent {
    padding: 10px;
    transition: .5s;
    overflow: hidden;
}

.video-tile-long .video-tile-new-label {
    padding: 4px 10px;
    background: linear-gradient(to right, var(--primary-background-color), #3f0949);
    border-radius: 6px;
    float: right;
    font-size: 8px;
    display: block;
    text-transform: uppercase;
}

.video-tile-long:hover .video-tile-parent {
    transform: scale(1.2);
    z-index: 1;
    position: relative;
    padding: 0;
}

.video-tile-long:hover .video-tile-new-label {
    position: absolute;
    right: 10px;
    top: 10px;
}

.video-tile-long-hover-info-container {
    display: none;
    padding: 10px;
}

.video-tile-long:hover .video-tile-long-hover-info-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(180deg, #000000d1 10%, transparent 40%), linear-gradient(360deg, #000000d1 10%, transparent 40%);
}

.video-tile-long-hover-title-action-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.video-tile-long-hover-action-container {
    display: flex;
}

.video-tile-long-hover-plus-icon-container {
    margin-left: 15px;
}

.video-tile-long-hover-feature-list {
    list-style: none;
    display: flex;
    font-size: .75em;
}

.video-tile-long-hover-feature-item.video-tile-age-rating {
    display: grid;
    background: #2c2e31;
    margin-right: 5px;
}

.video-tile-long-hover-feature-item:last-child::after,
.video-tile-long-hover-feature-item.video-tile-age-rating::after {
    content: '';
}

.video-tile-long-hover-feature-item::after {
    content: '\2022';
    margin: 0 5px;
}


/* ==== variant genre ==== */

.video-tile-genre {
    position: relative;
}

.video-tile-genre .video-tile-parent {
    height: calc(var(--video-tile-width) / 1.8);
}

.video-tile-genre .video-tile-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-image: linear-gradient(360deg, var(--genre-color), transparent), linear-gradient(360deg, black, transparent);
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
}


/* ==== variant search ====  */

.video-tile-search .video-tile-parent {
    height: calc(var(--video-tile-width) / 1.8);
}


/* ==== responsive layout ==== */

@media (max-width:426px) {
    .video-tile-search .video-tile-parent {
        --video-tile-width: 85vw;
    }
}

@media (max-width:769px) {
    .video-tile-container:hover .video-tile-wrapper.video-tile-short {
        transform: scale(1);
    }
}

/*# sourceMappingURL=2.style.css.map*/