.desktop-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    z-index: 3;
    color: #ffffff;
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, #000000, transparent);
}

.mobo-header-parent {
    display: none;
}

.header-logo {
    /* width: 100px; */
    display: inline;
}

ul.header-menu-container {
    list-style: none;
}

.header-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: flex-start;
}

.header-primary-menu,
.header-secondary-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul.header-menu-container li {
    margin: 0px 25px;
    align-self: center;
    padding: var(--header-menu-padding) 0px;
}

ul.header-menu-container li.active {
    border-top: var(--header-menu-active-border-width) solid var(--primary-background-color);
    padding-top: calc(var(--header-menu-padding) - var(--header-menu-active-border-width));
}

ul.header-menu-container li a {
    text-decoration: none;
    color: #ffffffc2;
}

ul.header-menu-container li.active a {
    color: #ffffff;
}

ul.header-menu-container li a:hover {
    color: var(--primary-background-color);
}

.nav-search-button {
    background: transparent;
    /* border: 2px solid #ffffffc2; */
    border: 0px solid #ffffffc2;
    /* padding: 8px 20px; */
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    /* width: 160px; */
    cursor: pointer;
}

.nav-search-button:focus {
    outline: none;
}

.nav-search-button>span {
    color: #ffffffc2;
}

.nav-search-svg-icon-container svg {
    width: 14px;
}

.nav-search-svg-icon-container svg path {
    fill: #ffffffc2;
    fill-rule: evenodd;
}

.navbar-user-and-menu-container {
    display: flex;
    align-items: center;
}

.navbar-user-icon-container {
    padding: 5px 8px;
    border-radius: 50%;
    background: #323232;
}

.navbar-secondary-inner-menu-icon-container {
    margin-left: 10px;
    position: relative;
}

.navbar-secondary-inner-menu-icon-container svg {
    transform: rotate(90deg);
    width: 8px;
    cursor: pointer;
}

.navbar-secondary-inner-menu-icon-container svg:hover path {
    fill: rgba(255, 255, 255, 0.5);
}

.navbar-mobo-v2-container {
    width: 100%;
    position: absolute;
    z-index: 1;
    display: none;
}

.navabar-mobo-v2-list {
    display: flex;
    list-style: none;
    margin-left: 20px;
}

.navabar-mobo-v2-list .navbar-mobo-v2-list-item {
    padding: 10px;
    color: #b2b2b4
}

.navbar-mobo-v2-list-item.active {
    color: #ffffff;
    border: 0 solid #d20820;
    border-bottom-width: 2px;
}


/* ========= RESPONSIVE ========== */

@media only screen and (max-width: 769px) {
    .desktop-header {
        display: none;
    }
    .mobo-header-parent {
        display: none;
    }
    .navbar-mobo-v2-container {
        display: block;
    }
    .mobo-header {
        display: flex;
        justify-content: space-between;
        /* z-index: 0; */
        position: relative;
        background: #000000;
        padding: 5px 12px;
        align-items: center;
    }
    .hamburg-menu-icon-container svg {
        width: 25px;
    }
    .hamburg-menu-icon-container svg path,
    .nav-search-svg-icon-container svg path {
        fill: #ffffff;
        fill-rule: evenodd;
    }
    .hamburg-menu-icon-container:hover svg path,
    .nav-search-svg-icon-container:hover svg path {
        fill: var(--primary-background-color);
    }
    .nav-search-svg-icon-container svg {
        width: 20px;
    }
    .modo-sidebar {
        height: 100vh;
        z-index: 10000;
        position: absolute;
        top: 0;
        left: -100%;
        /* right: 0; */
        transition: all 0.2s;
    }
    .modo-sidebar.show {
        left: 0!important;
        right: 0;
    }
    .mobo-overlay {
        left: 0;
        right: 0;
        height: 100vh;
        background: rgb(26 26 26 / 64%);
        position: absolute;
        display: none;
    }
    .modo-sidebar.show .mobo-overlay {
        display: initial;
    }
    .mobo-nav {
        height: 100vh;
        width: 70vw;
        position: relative;
        background: #1d1d1d;
    }
    .mobo-nav-logo-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .mobo-nav-login-btn {
        background: #171717;
        border-radius: 7px;
        padding: 6px 20px;
        border: none;
        font-weight: 600;
        box-shadow: 0 5px 10px rgb(0, 0, 0), 0px -14px 15px 0px rgb(0 0 0 / 0.15);
    }
    .mobo-nav ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 25px 0;
    }
    .mobo-nav ul li {
        margin-top: 10px;
    }
    .mobo-nav ul li.active {
        border-left: 5px solid var(--primary-background-color);
    }
    .mobo-nav ul li a {
        text-decoration: none;
        margin-left: 25px;
        font-size: 20px;
    }
    .mobo-nav ul li.active a {
        margin-left: 20px;
    }
    .mobo-subscribe-btn {
        background: var(--primary-background-color);
        border-radius: 7px;
        padding: 14px 4rem;
        display: block;
        margin: auto;
        border: none;
        font-weight: 600;
        box-shadow: 0 5px 10px rgba(255, 0, 0, 0.329), 0px -8px 15px 0px rgb(255 0 0 / 0.05);
    }
    .mobo-nav-bottom-bar {
        padding: 10px;
        margin-top: 10px;
    }
    .mobo-app-store-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .mobo-app-store-container a {
        margin-top: 10px;
    }
}

/*# sourceMappingURL=26.style.css.map*/